@import url("./../Sofill-/theme.css");
@import url("./style/fonts.css");
@import url("./style/CP-lili.css");
@import url("./style/Patch.css");

#preview {
  container-type: inline-size;
  container-name: preview;
  --SCC-Variables-preview-font-color1: #abc;
  --SCC-Variables-preview-font-color2: #abc;
  --SCC-Variables-preview-font-color3: #abc;
  --SCC-Variables-preview-font-color4: #abc;
  --SCC-Variables-preview-font-color5: #abc;
  --SCC-Variables-preview-font-color6: #abc;
  --SCC-Variables-preview-font-color7: #abc;
  --SCC-Variables-preview-font-color8: #abc;
  --SCC-Variables-preview-font-color9: #abc;
  --SCC-Variables-preview-font-color10: #abc;
  --SCC-Variables-preview-font-background1: #abc;
  --SCC-Variables-preview-font-background2: #abc;
  --SCC-Variables-preview-font-background3: #abc;
  --SCC-Variables-preview-font-background4: #abc;
  --SCC-Variables-preview-font-background5: #abc;
  --SCC-Variables-preview-font-background6: #abc;
  --SCC-Variables-preview-font-background7: #abc;
  --SCC-Variables-preview-font-background8: #abc;
  --SCC-Variables-preview-font-background9: #abc;
  --SCC-Variables-preview-font-background10: #abc;
  --SCC-Variables-preview-h1-color: #abc;
  --SCC-Variables-preview-h2-color: #abc;
  --SCC-Variables-preview-h3-color: #abc;
  --SCC-Variables-preview-h4-color: #abc;
  --SCC-Variables-preview-h5-color: #abc;
  --SCC-Variables-preview-h6-color: #abc;
  color: var(--SCC-Variables-preview-doc-bg-color, #000);
  background-color: var(--SCC-Variables-preview-doc-bg-color, #fff) !important;
}

#action {
  container-type: inline-size;
  container-name: action;
}



/* 指定容器名称时，空格和条件都不能省略 */
@container preview (min-width: 1px) {
  .h1 {
    color: var(--SCC-Variables-preview-h1-color, var(--b3-font-color1)) !important;
  }

  .h2 {
    color: var(--SCC-Variables-preview-h2-color, var(--b3-font-color2)) !important;
  }

  .h3 {
    color: var(--SCC-Variables-preview-h3-color, var(--b3-font-color3)) !important;
  }

  .h4 {
    color: var(--SCC-Variables-preview-h4-color, var(--b3-font-color4)) !important;
  }

  .h5 {
    color: var(--SCC-Variables-preview-h5-color, var(--b3-font-color5)) !important;
  }

  .h6 {
    color: var(--SCC-Variables-preview-h6-color, var(--b3-font-color6)) !important;
  }

  span[data-type=s] {
    text-decoration-color: var(--SCC-Red-WPS-lighter);
  }

  span[data-type~=kbd] {
    border-radius: var(--SCC-Component-Inline-kbd-border-radius);
    color: var(--SCC-Component-Inline-kbd-color);
    background-color: var(--SCC-Component-Inline-kbd-bg-color);
    vertical-align: 2px;
    box-shadow: var(--SCC-Component-Inline-kbd-box-shadow);
    border: 0 solid;
    margin-right: 2px;
    line-height: 2;
    font-family: var(--SCC-Variables-preview-font-family);
  }

  span[data-type~=tag] {
    background-color: var(--b3-theme-surface-lighter);
    transition: all .2s cubic-bezier(.645, .045, .355, 1);
    color: var(--b3-theme-on-surface);
    white-space: nowrap;
    border-radius: 9999px;
    border: none;
    position: relative;
    padding: 0.1em 0.6em;
    font-size: 85%;
    letter-spacing: .03rem;
  }

  span[data-type=code] {
    border-radius: 6px;
    color: var(--SCC-White);
    background-color: var(--SCC-primary-light) !important;
    vertical-align: 2px;
    box-shadow: rgb(0 0 0 / 40%) 0 2px 4px, rgb(0 0 0 / 30%) 0 3px 2px -3px, rgb(0 0 0 / 20%) 0px -3px 0 inset;
    border: 0 solid;
    margin: 3px !important;
    font-family: var(--SCC-Variables-preview-font-family-code);
  }

}

/* 指定容器名称时，空格和条件都不能省略 */
@container action (min-width: 1px) {
  .b3-select {
    background-color: var(--SCC-Variables-action-selector-bg-color, var(--SCC-baseComponent-selector-bg-color)) !important;
  }

  .b3-slider {
    height: 27px !important;
  }

  .b3-switch {
    border-radius: 5.8px !important;
    box-shadow: #585858 -1px -1px 3px 0 !important;
  }

  .b3-switch:checked {
    opacity: 0.98 !important;
    background-color: var(--b3-theme-primary-light) !important;
  }

  .b3-switch:checked:after {
    border-color: var(--SCC-baseComponent-Switch-checked-ab-color) !important;
  }
}