#neko {
  width: 50px;
  height: 50px;
  background: transparent;
  position: fixed;
  cursor: move;
  box-sizing: border-box;
  border: 13px dashed var(--b3-theme-secondary);
  border-radius: 50%;
  background: url('./../src/img/taiji.svg') no-repeat center/cover;
  backdrop-filter: brightness(.13) invert(1);
  overflow: hidden;
  z-index: 999999;
  user-select: none;
}

.neko-side {
  background: var(--b3-theme-on-background) !important;
  border-radius: 31px !important;
  width: 8px !important;
  border: 1px solid var(--b3-theme-secondary) !important;
}

#sprite_menu .b3-switch {
  box-sizing: content-box;
  margin: 5px 13px;
  filter: brightness(.91);
}

#sprite_menu .b3-menu__label {
  letter-spacing: .31px;
}

#sprite_menu .b3-menu__label:hover {
  color: var(--b3-theme-primary);
  letter-spacing: .31px;
}

.SC_mall_badge_container {
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 31px 0;
}

.SC_mall_badge_container>img {
  height: 38px;
  width: 168px;
  margin: 3.1px auto;
  align-self: center;
}